meta charset="utf-8" 
meta name="copyright" content="&copy;inTHEnet"
meta name="robots" content="INDEX,FOLLOW"
meta name="googlebot" content="INDEX,FOLLOW"
meta property="og:title" content="" 
meta property="og:type" content="website" 
meta property="og:image" content=""
meta property="fb:app_id" content=""
meta name="twitter:card" content="app" 
meta name="twitter:app:country" content="jp" 
meta name="twitter:app:id:iphone" content=":id"
meta name="twitter:app:name:iphone" content=""
meta name="twitter:app:url:iphone" content=""
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
link rel="stylesheet" href="./css/style.css"
title Web Professional